<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>

    <p *ngIf= "status != 'success'">Modifica tus datos de usuario</p>

    <div class="alert alert-success col-md-6" *ngIf= "status == 'success'">
        Los datos han sido modificados correctamente, <a [routerLink]= "['/login']">logueate aqui</a>
    </div>
    <div class="alert alert-danger col-md-6" *ngIf= "status == 'error'">
        El registro no se ha completado , vuelve a intentarlo mas tarde.
    </div>
    <hr/>

    <!--Formulario de ajustes-->
    <form action="" class="col-md-6 ml-0 pl-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="" class="form-control" #name="ngModel" [(ngModel)]="user.name"
                pattern="[a-zA-Z]+" required>
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre no es valido
            </small>
        </div>
        <div class="form-group">
            <label for="surname">Apellidos</label>
            <input type="text" name="surname" id="" class="form-control" #surname="ngModel" [(ngModel)]="user.surname"
                pattern="[a-zA-Z ]+" required>
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                Los apellidos no son validos
            </small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="" class="form-control" #email="ngModel" [(ngModel)]="user.email"
                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                El email no es valido
            </small>
        </div>
        <div class="form-group">
            <label for="description">Biografia</label>
            <input type="text" name="description" id="" class="form-control" #description="ngModel" [(ngModel)]="user.description">
        </div>
        <div class="form-group">
            <label for="image">Avatar</label>
            <input type="file" name="image" id="" class="form-control" #image="ngModel" [(ngModel)]="user.image">
        </div>
        <input type="submit" value="Guardar Cambios" class="btn btn-primary" [disabled] = "userEditForm.invalid">
    </form>
</div>